<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>添加用户</h5>

        </div>
        <div class="ibox-content">
            <form class="form-horizontal m-t from" action="/user/edit" method="post">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">姓氏：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input id="firstname" name="firstname" class="form-control" type="text">
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 这里写点提示的内容</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">名字：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input id="lastname" name="lastname" value="{{data.name}}" class="form-control" type="text" aria-required="true" aria-invalid="false" class="valid">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">用户名：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input id="username" name="username" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">密码：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input id="password" name="password" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">确认密码：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input id="confirm_password" name="confirm_password" class="form-control" type="password">
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 请再次输入您的密码</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">E-mail：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input id="email" name="email" class="form-control" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="checkbox" id="agree" name="agree"> 我已经认真阅读并同意《H+使用协议》
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button class="btn btn-info submit-btn" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
    $(".submit-btn").on("click", function () {
        test($(this));
        $('.modal').modal('hide');
        return false;
    });
</script>
