{% extends "_layout.html" %}
{% import "component/forms.njk" as forms %}

{% import "component/pagination.njk" as pagination %}
{% import "component/table.njk" as table %}
{% import "component/search.njk" as search %}


{# 样式代码 #}
{% block style %}
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商户审核</h5>

                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t from" name="form" id="form" action="/merchant/audit" method="post"
                          data-href="/merchant">
                        {{ forms.hidden('id', data.id) }}
                        {{ forms.readonly('姓名', 'name', data.name, '请输入姓名', 'required') }}
                        {{ forms.readonly('店铺名称', 'storeName', data.storeName, '请输入店铺名称', 'required') }}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">行业：</label>
                            <div class="col-sm-8">
                                <select class="form-control m-b" name="type" disabled>
                                    <option value="">未知行业</option>
                                    <option value="1" {{
                                    'selected' if data.type == 1 }}>酒店</option>
                                    <option value="2" {{
                                    'selected' if data.type == 2 }}>餐饮</option>
                                    <option value="3" {{
                                    'selected' if data.type == 3 }}>娱乐</option>
                                    <option value="4" {{
                                    'selected' if data.type == 4 }}>景区</option>
                                    <option value="5" {{
                                    'selected' if data.type == 5 }}>特产</option>
                                    <option value="6" {{
                                    'selected' if data.type == 6 }}>旅行社</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="padding-left: 20px;">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证正面：&nbsp;</label>
                                <a class="col-sm-3" href="{{ctx.app.config.api.image}}/{{data.idCard}}" target="_blank"><img
                                        class="img-responsive"
                                        src="{{ ctx.helper.showImage(data.idCard, 160, 120, 'fixed') }}"></a>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证反面：&nbsp;</label>
                                <a class="col-sm-3" href="{{ctx.app.config.api.image}}/{{data.idCardNegative}}"
                                   target="_blank"><img
                                        class="img-responsive"
                                        src=" {{ ctx.helper.showImage(data.idCardNegative, 160, 120, 'fixed') }}"></a>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">营业执照：&nbsp;</label>
                                <a class="col-sm-3" href="{{ctx.app.config.api.image}}/{{data.businessLicense}}"
                                   target="_blank"><img
                                        class="img-responsive"
                                        src="{{ ctx.helper.showImage(data.businessLicense, 160, 120, 'fixed') }}"></a>
                            </div>
                            <div class="from-group" style="padding-right: 60px;">
                                <label class="col-sm-2 control-label">店铺照片：&nbsp;</label>
                                <a class="col-sm-3" href="{{ctx.app.config.api.image}}/{{data.storeImage}}"
                                   target="_blank"><img
                                        class="img-responsive"
                                        src="{{ ctx.helper.showImage(data.storeImage, 160, 120, 'fixed') }}"></a>
                            </div>
                        </div>

                        {{ forms.radios('审核结果:', 'authCode', [{text: '通过', value: '1'}, {text: '拒绝', value: '0'}]) }}
                        {{ forms.text('拒绝原因', 'authResult', data.authResult, '如果审核未通过，请输入拒绝原因','required') }}
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-8">
                                <button style="margin-right: 20px;" class="btn btn-info" type="button"><a
                                        href="/merchant" style="color: white;: white;">返回</a></button>
                                <button class="btn btn-info" id="authCheck" type="button">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}
    {#js代码#}
    {% block js %}


    <script>

      function validate() {
        console.log(document.form.authResult.value);
        let value = document.form.authResult.value;
        if (value == '') {
          layer.msg("请输入拒绝原因");
          return;
        } else {
          asyncSubmitForm($("#form"));
        }
      }

      $("#authCheck").click(function () {
        let radios = document.form.authCode;
        var n = radios.length;
        for (var i = 0; i < n; i++) {
          if (radios[i].checked) {
            if (radios[i].value == 0) {
              validate();
            } else if (radios[i].value == 1) {
              asyncSubmitForm($("#form"));
            }
          }
        }
      });

    </script>
    {% endblock %}
