{% extends "_layout.html" %}
{% import "component/forms.njk" as forms %}

{# 样式代码 #}
{% block style %}
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商家详情</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t from" id="form" action="/merchant/person" method="get"
                          data-href="/merchant">
                        {{ forms.hidden('id', data.id) }}
                        {{ forms.readonly('商家姓名', 'linkname', data.linkname) }}
                        {{ forms.readonly('用户名', 'username', data.username) }}
                        {{ forms.readonly('联系电话', 'mobile', data.mobile) }}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">头像：&nbsp;</label>
                            <img class="img-responsive"
                                 src="{{ ctx.helper.showImage(data.avatar, 100, 100, 'fixed') }}">
                        </div>
                        {{ forms.readonly('店铺名称', 'storeName', data.storeName) }}
                        {{ forms.readonly('地址', 'address', data.address) }}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">行业</label>
                            <div class="col-sm-8">
                                <select class="form-control m-b" name="type" disabled>
                                    <option value="">未知</option>
                                    <option value="1" {{
                                    'selected' if data.type == 1 }}>酒店</option>
                                    <option value="2" {{
                                    'selected' if data.type == 2 }}>餐饮</option>
                                    <option value="3" {{
                                    'selected' if data.type == 3 }}>娱乐</option>
                                    <option value="4" {{
                                    'selected' if data.type == 4 }}>景区</option>
                                    <option value="4" {{
                                    'selected' if data.type == 5 }}>特产</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-8">
                                <select class="form-control m-b" name="sex" disabled>
                                    <option value="">未知</option>
                                    <option value="1" {{
                                    'selected' if data.sex == 1 }}>男</option>
                                    <option value="2" {{
                                    'selected' if data.sex == 0 }}>女</option>
                                </select>
                            </div>
                        </div>
                        {{ forms.readonly('创建时间', 'createTime', data.createTime) }}

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-10">
                                <a href="/merchant" style="margin-right: 20px;" class="btn btn-info" type="button">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {#js代码#}
    {% block js %}
    <script>
        $(function () {
            var e = "";
            $("#form").validate({
                rules: {
                    linkName: "required",
                    username: {
                        required: true
                    },
                    mobile: {
                        required: true
                    },
                    userType: "required",
                    sex: "required",
                },
                messages: {
                    linkName: {
                        required: e + "请输入姓名"
                    },
                    username: {
                        required: e + "请输入用户名",
                        remote: '用户已经存在'
                    },
                    mobile: {
                        required: e + "请输入手机号"
                    },
                    userType: {
                        required: e + "请输入类型 1.管理员 2.员工 "
                    },
                    sex: {
                        required: e + "请输入性别"
                    },
                },
                submitHandler: function () {
                    asyncSubmitForm($("#form"));
                }
            });

        });
    </script>


    <!--<script>-->
    <!--&lt;!&ndash;判断状态和所属行业&ndash;&gt;-->
    <!--$(function () {-->
    <!--if ($("#statusvalue").val() == 1) {-->
    <!--$("#status").val('正常');-->
    <!--} else if ($("#statusvalue").val() == 2) {-->
    <!--$("#status").val('补充资料');-->
    <!--} else if ($("#statusvalue").val() == 3){-->
    <!--$("#status").val('待审核');-->
    <!--}else{-->
    <!--$("#status").val('审核不通过');-->
    <!--}-->
    <!--if($("#indvalue").val()==0){-->
    <!--// $("#ind").val('酒店 餐饮 娱乐 景区 特产');-->
    <!--$("#ind").val('多种');-->
    <!--}else if($("#indvalue").val()==1){-->
    <!--$("#ind").val('酒店');-->
    <!--}else if($("#indvalue").val()==2){-->
    <!--$("#ind").val('餐饮');-->
    <!--}else if($("#indvalue").val()==3){-->
    <!--$("#ind").val('娱乐');-->
    <!--}else if($("#indvalue").val()==4){-->
    <!--$("#ind").val('景区');-->
    <!--}else{-->
    <!--$("#ind").val('特产');-->
    <!--}-->
    <!--})-->
    <!--</script>-->
    <!--{% endblock %}-->

