{% extends "_layout.html" %}
{% import "component/forms.njk" as forms %}

{# 样式代码 #}
{% block style %}
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
<style>

</style>
{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>管理员编辑</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t from" id="form" action="/account/edit" method="post"
                          data-href="/account">
                        {{ forms.hidden('id', data.id) }}
                        {{ forms.text('姓名', 'name', data.name, '请输入管理员姓名', 'required') }}
                        {{ forms.text('用户名', 'username', data.username, '请输入管理员用户名', 'required') }}
                        {{ forms.number('手机号', 'mobile', data.mobile, '请输入管理员手机号', 'required') }}

                        {% if data.id %}
                        {{ forms.text('密码', 'password', '******') }}
                        {% else %}
                        {{ forms.text('密码', 'password', data.password, '请输入管理员密码 ( 至少六位！！)', '') }}
                        {% endif %}

                        <div style="position: relative;">
                            <a href="/account" class="btn btn-info"
                               style="position: absolute;right: 26%;top: 0;">返回</a>
                            {{ forms.submit() }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {#js代码#}
    {% block js %}
    <script>
      $(function () {
        var e = "";
        $("#form").validate({
          rules: {
            name: "required",
            jingle: "required",
            price: "required",
            promotionPrice: "required",
            marketPrice: "required",
            serial: "required",
            spec: "required",
            storage: "required",
            createTime: "required",
            specValue: "required",
            alarm: "required",
            sku: "required",
            image: "required",
            images: "required",
          },
          messages: {
            name: {
              required: e + "请输入商品名称（+规格名称）"
            },
            jingle: {
              required: e + "请输入商品广告词"
            },
            price: {
              required: e + "请输入商品价格"
            },
            promotionPrice: {
              required: e + "请输入商品促销价格"
            },
            marketPrice: {
              required: e + "请输入市场价"
            },
            serial: {
              required: e + "请输入商家编号"
            },
            spec: {
              required: e + "请输入商品规格序列化"
            },
            storage: {
              required: e + "请输入商品库存"
            },
            createTime: {
              required: e + "请输入商品添加时间"
            },
            specValue: {
              required: e + "请输入商品规格序列化"
            },
            alarm: {
              required: e + "请输入预警值"
            },
            sku: {
              required: e + "请输入sku"
            },
            image: {
              required: e + "请输入商品首图"
            },
            images: {
              required: e + "请输入商品图片"
            },
          },
          submitHandler: function () {
            asyncSubmitForm($("#form"));
          }
        });

      });
    </script>
    <script>

      $(function () {
        holder = $('<span class="words-split"></span>');
        hashtable = new Array();
        el = $("#result");
        el.after(holder);
        list = el.val();

        if (list) {
          let facility = JSON.parse(list);
          facility.filter(f => {
            key = f.key;
            value = f.value;
            holder.append($('<a href="javascript:void(0)">' + key + " :" + value + '<span name="' + key + '"></span>&nbsp;&nbsp;<i class="fa fa-trash dbicon" aria-hidden="true"></i></a>'));
            var object = {};
            object['key'] = key;
            object['value'] = value;
            hashtable.push(object);
          });
        }
        holder.on('click', 'a>i', function () {	//刪除
          resultKey = $(this).parent().find('span').attr('name');
          hashtable.filter(e => {
            if (e.key == resultKey) {
              hashtable.splice(hashtable.indexOf(e), 1);
            }
          });
          $(this).parent().remove();
          $("#result").val(JSON.stringify(hashtable));
        });


        $("#btn").on('click', function () {
          key = $("#key").val();
          value = $("#value").val();

          hashtable.filter(e => {
            if (e.key == key) {
              alert("设施已存在，请删除后重新添加");
              return;
            }
          });

          if (key != "" && value != "") {
            holder.append($('<a href="javascript:void(0)">' + key + " :" + value + '<span name="' + key + '"></span>&nbsp;&nbsp;<i class="fa fa-trash dbicon" aria-hidden="true"></i></a>'));
            var object = {};
            object['key'] = key;
            object['value'] = value;
            hashtable.push(object);
            $("#result").val(JSON.stringify(hashtable));
            $("#key").val("");
            $("#value").val("");
          }
        });
      });

      function putOff() {
        offId = $(".offId").val();
        $.ajax({
          cache: false,
          type: 'post',
          url: '/merchantGoods/putOff',
          data: {
            "id": offId,
          },
          error: function () {
            alert('下架失败');
          },
          success: function () {
            // alert("此商品已下架");
            layer.alert('此商品已下架', {
              icon: 1,
              skin: 'layer-ext-moon',
              time: 20000, //20s后自动关闭
            })
          }

        });
        location.reload();
      }
    </script>
    {% endblock %}