{% extends "_layout.html" %}
{% import "component/pagination.njk" as pagination %}
{% import "component/table.njk" as table %}
{% import "component/search.njk" as search %}
{% import "component/constant.njk" as constant %}

{# 样式代码 #}
{% block style %}

{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
                            <form class="page-search-form">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" name="likeName" id="likeName" value="{{params.likeName}}"
                                               placeholder="请输入姓名" class="input-sm form-control"/>
                                        <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-info page-reset-btn">重置</button>
                                <button type="button" class="btn btn-sm btn-info page-search-btn"><i
                                        class="fa fa-search"></i>搜索</button>
                                </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" name="likeUsername" id="likeUsername" value="{{params.likeUsername}}"
                                               placeholder="请输入用户名" class="input-sm form-control"/>
                                        <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-info page-reset-btn">重置</button>
                                <button type="button" class="btn btn-sm btn-info page-search-btn"><i
                                        class="fa fa-search"></i>搜索</button>
                                </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" name="likeMobile" id="likeMobile" value="{{params.likeMobile}}"
                                               placeholder="请输入手机号" class="input-sm form-control"/>
                                        <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-info page-reset-btn">重置</button>
                                <button type="button" class="btn btn-sm btn-info page-search-btn"><i
                                        class="fa fa-search"></i>搜索</button>
                                </span>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="col-sm-2">
                            <div class="ibox-tools">
                                <a href="/account/edit" class="btn btn-info btn-xm">添加管理员</a>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <form id="table-form">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>姓名</th>
                                    <th>用户名</th>
                                    <th>联系电话</th>
                                    <th>最新登陆时间</th>
                                    <th>创建时间</th>
                                    <th>更新时间</th>
                                    <th>管理员类型</th>
                                    <th>状态</th>
                                    <th>是否禁用</th>
                                    <th>操作</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for item in data.list %}
                                <tr>
                                    <td>
                                        <!--<input type="checkbox" value="{{ item.id }}" class="i-checks" name="check">-->
                                    </td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.mobile }}</td>
                                    <td>{{ item.lastLoginTime }}</td>
                                    <td>{{ item.createTime }}</td>
                                    <td>{{ item.updateTime }}</td>
                                    <td>
                                        {% if item.type == 1 %}超级管理员
                                        {% elif item.type == 0 %}普通管理员
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.status == 1 %}启用
                                        {% elif item.status == 0 %}
                                        <span style="color: #b40000;">禁用</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.type != 1 %}
                                        {% if item.status == 1 %}
                                        <a class="operate" data-id="{{ item.id }}" data-href="/account/disable">禁用</a>
                                        {% elif item.status == 0 %}
                                        <a class="operate" data-id="{{ item.id }}" data-href="/account/enable">启用</a>
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                    <td data-id="{{ item.id }}">
                                        <a href="/account/edit?id={{item.id}}">编辑</a>
                                        <!--<a class="del" data-id="{{ item.id }}" data-href="/account/delete">删除</a>-->
                                    </td>
                                </tr>
                                {% else %}
                                暂无数据
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="btn-region clearfix">
                        <div class="pull-right">
                            {{ pagination.pagination(data, params, '/account') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{#js代码#}
{% block js %}
<script>
    $(function () {
        $(".operate").on("click", function () {
            id = $(this).attr("data-id");
            console.log(id);
            let url = $(this).attr("data-href");
            layer.confirm('你确定执行此操作?', {icon: 3, title: '提示'}, function (index) {
                $.ajax({
                    url: url,
                    data: {"id": id},
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        if (data.code == 200) {
                            window.location.reload();
                        }
                    }
                });
                layer.close(index);
            });
        });
    });
</script>
{% endblock %}
