{% extends "_layout.html" %}
{% import "component/pagination.njk" as pagination %}
{% import "component/table.njk" as table %}
{% import "component/search.njk" as search %}

{# 样式代码 #}
{% block style %}

{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-10">
                        <form class="page-search-form">
                        </form>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="table-responsive">
                   <form id="table-form">
                   		<table class="table table-striped">
                           <thead>
                           <tr>
                               	<th></th>
								<th>名称</th>
								<th>介绍</th>
								<th>创建时间</th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for item in data.list %}
                               <tr>
                                   <td>
                                       <input type="checkbox" value="{{ item.id }}" class="i-checks" name="check">
                                   </td>
   									<td>{{item.name}}</td>
   									<td>{{ctx.helper.show(item.jingle, 50)}}</td>
                                   <td>{{item.createTime}}</td>
                               </tr>
                           {% else %}
                               	暂无数据
                           {% endfor %}
                           </tbody>
                       </table>
                   </form>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="btn-region clearfix">
                    <div class="pull-left">
                        <button href="" id="batch-del-btn" class="btn btn-danger btn-sm js-batch" data-url="/goods/comment/delete" data-confirm="确定删除选中的商品评论吗?" data-original-title="" title="">批量删除</button>
                    </div>
                    <div class="pull-right">
                        {{ pagination.pagination(data, params, '/goods/comment') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}

{#js代码#}
{% block js %}
<script>


</script>

{% endblock %}
