{% extends "_layout.html" %}
{% import "component/forms.njk" as forms %}

{# 样式代码 #}
{% block style %}
<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加打印机</h5>

                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t from" id="form" action="/printer/edit" method="post" data-href="/printer">
                        {{ forms.hidden('id', data.id) }}
                        {{ forms.text('打印机名称', 'name', data.name, '请输入打印机名称', 'required') }}
                        {{ forms.text('编号(SN)', 'username', data.username, '请输入打印机编码', 'required') }}
                        {{ forms.text('密钥(KEY)', 'mobile', data.mobile, '请输入打印机密钥', 'required') }}
                        {{ forms.submit() }}

                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{#js代码#}
{% block js %}
<script>
    $(function () {
        var e = "";
        $("#form").validate({
            rules: {
                name: "required",
                username: {
                    required: true
                },
                mobile: {
                    required: true
                },
                type: "required",
                sex: "required",
            },
            messages: {
                name: {
                    required: e + "请输入打印机名称"
                },
                username: {
                    required: e + "请输入打印机编码",
                    remote: '打印机已经被添加过'
                },
                mobile: {
                    required: e + "请输入打印机密钥"
                },
            },
            submitHandler: function() {
              asyncSubmitForm($("#form"));
            }
        });

    });
</script>

{% endblock %}