<!--左侧导航开始-->
{% set children = '' %}
<nav class="navbar-default navbar-static-side " role="navigation">
    <div class="nav-first-sidebar">
            <span class="nav-header">
                <div class="logo-element">平台管理
                </div>
            </span>
        <div class="sidebar-collapse">
            <ul class="nav" id="">
                {% for item in menu %}
                {% if item.current %}
                {% set children = item.children %}
                {% endif %}
                <li class="{% if item.current %}active{% endif %}">
                    <a href="{{ item.url }}"><i class="{{item.icon}}"></i> <span class="nav-label">{{item.name}}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="nav-second-sidebar">
        <span class="title">店铺管理</span>
        <ul class="nav nav-second-level">
            {% for item in children %}
            <li class="{% if item.current %}active{% endif %}">
                <a class="J_menuItem" href="{{ item.url }}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<!--左侧导航结束-->