{% extends "_layout.html" %}
{% import "component/pagination.njk" as pagination %}
{% import "component/table.njk" as table %}
{% import "component/search.njk" as search %}

{# 样式代码 #}
{% block style %}

{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-10">
                            <form class="page-search-form">

                            </form>
                        </div>
                        <div class="col-sm-2">
                            <div class="ibox-tools">
                                <a href="/version/mcht/edit?type={{params.type}}" class="btn btn-info btn-xm">添加版本信息</a>
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <form id="table-form">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <!--<th><input type="checkbox" onclick="selectAll(this.checked)"></th>-->
                                    <th></th>
                                    <th>版本号</th>
                                    <th>更新信息</th>
                                    <th>是否强制更新</th>
                                    <th>apk下载地址</th>
                                    <th>创建时间</th>
                                    <th>查看</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in data.list %}
                                <tr>
                                    <td>
                                        <!--<input type="checkbox" value="{{ item.id }}" class="i-checks" name="check">-->
                                    </td>
                                    <td>{{ item.number }}</td>
                                    <td>{{ item.info }}</td>
                                    <td>
                                        {% if item.isForce == true %}
                                        是
                                        {% elseif item.isForce == false %}
                                        否
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td>{{ item.apkUrl }}</td>
                                    <td>{{ item.createTime }}</td>
                                    <td data-id="{{ item.id }}">
                                        <!--TODO 查看会跳转到统计页面 增加也是-->
                                        <a href="/version/mcht/view?id={{item.id}}">查看</a>
                                        <!--<a class="del" data-id="{{ item.id }}" data-href="/version/delete">删除</a>-->
                                    </td>
                                </tr>
                                {% else %}
                                暂无数据
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="btn-region clearfix">
                        <div class="pull-left">
                            <!--<button href="" id="batch-del-btn" class="btn btn-danger btn-sm js-batch"-->
                            <!--data-url="/qrall/delete" data-confirm="确定删除选中的version吗?" data-original-title=""-->
                            <!--title="">批量删除-->
                            <!--</button>-->
                        </div>
                        <div class="pull-right">
                            <!--TODO 分页会出错，商家端和用户端不一样-->
                            {{ pagination.pagination(data, params, '/version/') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{#js代码#}
{% block js %}
<script>

  function selectAll(selectStatus) {
    console.log(selectStatus);
    //根据name属性获取到单选框的input，使用each方法循环设置所有单选框的选中状态
    checkboxes = $("input[name='check']");
    console.log(checkboxes);
    checkboxes.each(function (i, n) {
      console.log(1234);
      checkboxes[i].attr = selectStatus;
    });
    $.each(function (checkboxes) {

    })
  }
</script>

{% endblock %}