{% extends "_layout.html" %}
{% import "component/pagination.njk" as pagination %}
{% import "component/table.njk" as table %}
{% import "component/search.njk" as search %}
{% import "component/forms.njk" as forms %}

{# 样式代码 #}
{% block style %}

{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content" style="position: relative;">
                    <div class="row">
                        <div class="col-sm-8">
                            <form class="page-search-form">

                            </form>
                            <h3 style="font-weight: 400;">高端定制店铺：</h3>
                        </div>
                        <div class="col-sm-4">
                            <div class="ibox-tools">
                                <a href="/storeCustom/edit?id={{data.id}}" class="btn btn-info">编辑</a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <form class="form-horizontal m-t from" id="form" action="/storeCustom/edit" method="post"
                              data-href="/storeCustom">
                            {{ forms.readonly('店铺ID','id', data.id) }}
                            {{ forms.readonly('店铺名称', 'name', data.name,'required') }}
                            {{ forms.readonly('联系人', 'linkMan', data.linkMan, '') }}
                            {{ forms.readonly('联系电话', 'mobile', data.mobile, '') }}
                        </form>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{#js代码#}
{% block js %}
<script>
  $(".btn-group").hide(10);
</script>

{% endblock %}
