{% extends "_layout.html" %}
{% import "component/pagination.njk" as pagination %}
{% import "component/table.njk" as table %}
{% import "component/search.njk" as search %}

{# 样式代码 #}
{% block style %}

{% endblock %}

{# bodyd代码#}
{% block body %}
<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-10">
                        <form class="page-search-form">
                        </form>
                    </div>
                    <div class="col-sm-2">
                        <div class="ibox-tools">
                            <a href="/payinfo/edit" class="btn btn-info btn-xm">添加路书</a>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="table-responsive">
                   <form id="table-form">
                   		<table class="table table-striped">
                           <thead>
                           <tr>
                               	<th></th>
								<th>标题</th>
								<th>首图</th>
								<th>作者</th>
								<th>摘要</th>
								<th>创建时间</th>
								<th>更新时间</th>
                               <th>操作</th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for item in data.list %}
                               <tr>
                                   <td>
                                       <input type="checkbox" value="{{ item.id }}" class="i-checks" name="check">
                                   </td>
   									<td>{{item.title}}</td>
                                   <td class="image" style="padding-right: 3%;">
                                       <a><img alt="image" class="image"
                                                                                      src="{{ ctx.helper.showImage(item.image, 50, 50, 'fixed') }}"></a>
                                   </td>
   									<td>{{item.author}}</td>
   									<td>{{item.digest}}</td>
   									<td>{{item.createTime}}</td>
   									<td>{{item.updateTime}}</td>
                                   <td data-id="{{ item.id }}">
                                       <a href="/payinfo/edit?id={{item.id}}">编辑</a>
                                       <a class="del" data-id="{{ item.id }}" data-href="/payinfo/delete">删除</a>
                                   </td>
                               </tr>
                           {% else %}
                               	暂无数据
                           {% endfor %}
                           </tbody>
                       </table>
                   </form>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="btn-region clearfix">
                    <div class="pull-left">
                        <button href="" id="batch-del-btn" class="btn btn-danger btn-sm js-batch"
                                data-url="/payinfo/delete" data-confirm="确定删除选中的模块吗?" data-original-title=""
                                title="">批量删除
                        </button>
                    </div>
                    <div class="pull-right">
                        {{ pagination.pagination(data, params, '/payinfo') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}

{#js代码#}
{% block js %}
<script>


</script>

{% endblock %}
